@model IEnumerable<PROGRESO_UNO_QUISPE_RONNY.Models.Cliente>

@{
    ViewData["Title"] = "CLIENTES";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn btn-outline-success">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ClienteId" class="btn btn-outline-warning">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn btn-outline-danger">Eliminar</a>
            </td>

        </tr>
}
    </tbody>
</table>
