@model PROGRESO_UNO_QUISPE_RONNY.Models.Reservacs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservacs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPagar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorPagar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
    </dl>
</div>


<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>
        <a asp-action="Edit" asp-route-id="@Model?.ReservaId" class="text-white">Editar</a>
    </label>
    <label class="btn btn-outline-primary">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <a asp-action="Index" class="text-white">Volver a la Lista</a>
    </label>
</div>
