@model IEnumerable<PROGRESO_UNO_QUISPE_RONNY.Models.Reservacs>

@{
    ViewData["Title"] = "RESERVA";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorPagar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservaId" class="btn btn-outline-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ReservaId" class="btn btn-outline-warning">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ReservaId" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
